__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data and artifacts
data/raw/
data/processed/
checkpoints/
runs/
*.pth
*.npy
*.h5
raw_source/

# Jupyter & IDE
.ipynb_checkpoints
.vscode/
.idea/
*.swp
.DS_Store
